html {
    -webkit-user-select: none;
    font-family: 'Helvetica Neue',Helvetica,Arial,'Microsoft YaHei',sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 125%;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    width:100%;
    height:100%;
}
body{
    font-size: 0.8rem;
    padding:0;
    max-width:650px;
    margin:auto;
    width:100%;
    height:100%;
    background-color: #23A4C5;
    overflow:hidden;
    text-align:center;
}
.btn{
    background-color: #8f8f8f;
    display:block;
    width:100%;
    height:58px;
    font-size: 0.7rem;
    line-height:58px;
    color:white;
    text-align: center;
}
.fleft{
    float:left;
}
.fright{
    float:right;
}
.block{
    display:block;
}
.center{
    margin:auto
}
.inline{
    display:inline-block;
}
.bg-div{

}
.title{
    position: absolute;
    top:2rem;
}
.back{
    font-family: Andes_Icon1;
}
.bg-image{
    width:100%;
    height:100%;
    position:absolute;
    z-index:-1;
    left:0;
    top:0;
    overflow:hidden
}
.bg-image>img{
    width:100%;
}
.inside-block{
    position:absolute;
    width:14.5rem;
    z-index: 5;
    top:0;
    left:0;
    right:0;
    margin:auto;
    margin-top:13rem;
    text-align: center;
}
.zan-btn{
    margin: auto;
    margin-top:18.5rem;
    width: 12.5rem;
    height: 2.2rem;
    line-height: 2.2rem;
    -webkit-border-radius: 1.25rem;
    -moz-border-radius: 1.25rem;
    border-radius: 1.25rem;
    background-color: #FE653C;
    box-shadow: 0px 3px 1px #B85439;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'SimHei';
    letter-spacing: 1px;
}
.num-tip{
    font-size: 0.8rem;
    letter-spacing: 1px;
    color: #1E93B1;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 16.5rem;
}
.num-tip>span{
    color: #ff007e;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 4px;
}
.copyright{
    color: #1A6A80;
    font-size: 0.5rem;
    text-align: center;
    position: absolute;
    bottom: 4px;
    left: 0;
    right: 0;
    margin: auto;
}