body {
    font-size: 1.4rem;
    background-color: #fafafa;
}

@font-face {
    font-family: andesfont1;
    src: url('/andesres/image/andes/Andes_Icon1.ttf?v1.0');
}

@font-face {
    font-family: andesfont2;
    src: url('/andesres/image/andes/Andes_Icon2.ttf?v1.0');
}

.display-none {
    display: none;
}

.box {
    display: -webkit-box;
    -webkit-box-pack: start;
    -webkit-box-orient: horizontal;
    -webkit-box-align: strentch;
}

.banner {
    margin: 1rem 1rem 1rem 1.1rem;
}

.banner span {
    color: #8bc34a;
    font: 1.4rem;
}

.sound-list-top-box {
    margin: .5rem 1.1rem .5rem 1.1rem;
}

.sound-list-sub-top {
}

.space-div {
    width: 1rem;
    height: 100%;
}

.sound-list-item {
    width: 100%;
}

.sound-item-top {
    display: block;
    -webkit-box-flex: 1;
    background-color: #fff;
    width: 50%;
    border: 1px solid rgba(255,255,255,0.9);
}

.sound-square-bottom {
    font-size: 1.4rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-left: .5rem;
}

.sound-item-square {
    width: 100%;
    height: 16rem;
    position: relative;
}

.sound-item-bottom-line {
    position: absolute;
    bottom: 0;
    height: 3rem;
    width: 100%;
    color: #fff;
    font-size: 1.4rem;
    background-color: rgba(0, 0, 0, 0.1); 
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 30%, rgba(0,0,0,0.5) 100%);
}

.sound-item-bottom-line p {
    line-height: 3rem;
    margin-left: 1rem;
    margin-top: .3rem;
}

.square-color-1 {
    background-color: #6de0ef;
}

.square-color-2 {
    background-color: #8c9dfa;
}

.square-color-3 {
    background-color: #b58ff6;
}

.square-color-4 {
    background-color: #ffb74d;
}

.sound-item-like {
    font-family: andesfont1;
    font-size: 2rem;
    display: inline-block;
    width: 2rem;
}

.like-right {
}

.sound-like-top {
    vertical-align: top;
}

.sound-play-btn {
    position: absolute;
    top:50%;
    left: 50%;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    margin: -1.5rem;
    border-radius: 3rem;
    font-size: 2rem;
    background-color: rgba(0,0,0, 0.4);
    text-align: center;
    border: 1px solid #fff;
}


.sound-play-btn.small{
    width: 2rem;
    height: 2rem;
    line-height: 1.5rem;
    margin: -1rem;
}

.sound-play-btn-icon {
    font-family: andesfont2;
    color: #fff;
    margin-left: 2px;
    font-size: 1.5rem;
}

.sound-play-btn-icon.small {
    font-size: 1rem;
    margin-left: 2px;
}

.sound-play-circle {
    position: absolute;
    top:50%;
    left: 50%;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: #8bc34a;
}

.pie-left, .pie-right {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 0;
    left: 0;
}

.left, .right {
    display: block;
    width: 3rem;
    height: 3rem;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.pie-right, .right {
    clip:rect(0, auto, auto, 1.5rem);
}

.pie-left, .left {
    clip:rect(0, 1.5rem, auto, 0);
}

.pie-mask {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    left: .25rem;
    top: .25rem;
    background: #6d6d6d;
    position: absolute;
    text-align: center;
    line-height: 2.5rem;
}

.new {
    position: absolute;
    top: .5rem;
    font-size: 1rem;
    font-weight: bold;
    width: 3rem;
    height: 20px;
    line-height: 20px;
    background-color: #8bc34a;
    opacity: 0.8;
    color: #fff;
    padding-left: 1rem;
}

.new:after {
    position: absolute;
    border: 10px solid #8bc34a;
    border-right: 1rem solid transparent;
    width: 0rem;
    height: 0rem;
    content: ' '
}

.hot {
    position: absolute;
    top: .5rem;
    font-size: 1rem;
    font-weight: bold;
    width: 3rem;
    height: 20px;
    line-height: 20px;
    background-color: #ffb74d;
    opacity: 0.8;
    color: #fff;
    padding-left: 1rem;
}

.hot:after {
    position: absolute;
    border: 10px solid #ffb74d;
    border-right: 1rem solid transparent;
    width: 0rem;
    height: 0rem;
    content: ' '
}

.sound-list-box {
    margin-top: 1rem;
    border-top: 1px solid #dedede;
}

.sound-item {
}

.sound-item:active {
    background-color: #f0f0f0;
}

.sound-basic {
    padding: 1rem 0rem 1rem  1.1rem;
}

.cover-default {
    background-image: url(/andesres/image/andes/album.png);
    background-size: 2rem;
    background-position: 1rem 1rem;
}

.cover-custom {
    background-size: 6rem;
    background-position: 0rem 0rem;
}

.cover-custom-small {
    background-size: 4rem;
    background-position: 0rem 0rem;
}

.sound-cover {
    width: 6rem;
    height: 6rem;
    background-repeat: no-repeat;
    background-color: #8c8c8c;
    margin-right: 1.1rem;
    position: relative;
    border: 1px solid rgba(255,255,255,0.9);
}

.sound-info {
    -webkit-box-flex: 1;
    margin-top: .5rem;
}

.sound-name {
    font-size: 1.5rem;
    height: 3rem;
    line-height: 3rem;
    text-align: left;
    margin-top: .5rem;
    overflow: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sound-name-sub {
    height: 3rem;
    line-height: 3rem;
    font-size: 1.2rem;
    text-align: left;
    margin-top: -1rem;
    color: #9a9a9a;
}

.sound-like-div {
    color: #cccccc;
    text-align: center;
    font-size: 1.4rem;
    height: 6rem;
    width: 4rem;
    padding-right: 1.1rem;
}

.sound-like-div-top {
    line-height: 3rem;
    padding-top: 1rem;
    font-size: 2rem;
}

.sound-like-div-bottom {
    line-height: 3rem;
    margin-top: -1rem;
    font-size: 1.4rem;
    color: #9a9a9a;
}

.float-bottom {
    width: 100%;
    background: #fafafa;
    position: fixed;
    bottom: 0;
    left: 0;
    /*border-top: 1px solid #f2f2f2;
    box-shadow: 0px 0px 6px gray;*/
}

.sound-bar {
    width: 100%;
    height: 2px;
    border-bottom: solid 1px #f2f2f2;
}

.sound-progress {
    display: block;
    height: 2px;
    width: 0px;
    background-color: #8bc34a;
}

.sound-loading {
    text-align: center;
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sound-play-box {
    margin: 1rem 0rem 1rem 1.1rem;
}

.sound-play-box:active {
}

.play-sound-icon {
    width: 4rem;
    height: 4rem;
    position: relative;
}

.play-sound-cover {
    width: 4rem;
    height: 4rem;
    background-repeat: no-repeat;
    margin-right: 1.1rem;
    background-color: #8c8c8c;
    border-radius: 4rem;
    position: absolute;
    display: block;
}

.play-sound-cover-dark {
    width: 4rem;
    height: 4rem;
    background-color: #000;
    opacity: .4;
    border-radius: 4rem;
}

.play-sound-cover-custom {
    background-size: 4rem;
    background-position: 0rem 0rem;
}

.play-sound-info {
    -webkit-box-flex: 1;
}

.play-sound-name {
    font-size: 1.4rem;
    line-height: 4rem;
    margin-left: 1rem;
}

.play-btn {
    font-family: andesfont2;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 2rem;
    color: #9a9a9a;
}

.play-like {
    font-family: andesfont1;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: right;
    font-size: 2rem;
    color: #9a9a9a;
    margin-right: .5rem;
}

.user-like {
    color: #ff5152;
}

.bottom-div {
    height: 7rem;
}

.upload-div {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 99;
    top: 0;
    left: 0;
}

.show-info {
    background-color: #fafafa;
    width: 70%;
    height: 14rem;
    display: block;
    margin: 10rem auto;
    border-radius: 5px;
    color: #9a9a9a;
}

.show-top-text {
    padding: 2rem;
}

.show-bottom {
    text-align: right;
    margin-top: 1rem;
}

.show-cancel {
    margin-right: 3rem;
}

.show-thumb {
    margin-right: 2rem;
    color: #8bc34a; 
}

.download-div {
    position: fixed;
    width: 100%;
    height: 6rem;
    top: 0;
    left: 0;
    z-index: 85;
    background-color: #fafafa;
    display: -webkit-box;
    border-bottom: solid 1px #f2f2f2;
    box-shadow: 0px 0px 6px gray;
}

.andes-icon {
    width: 6rem;
    background: url(/andesres/image/andes/andes_icon.png) no-repeat;
    background-size: 4rem;
    background-position: 1rem;
}

.andes-text {
    -webkit-box-flex: 1;
    font-size: 1.4rem;
    margin: 1rem;
}

.andes-name {
    padding-top: .3rem;
}

.gray {
    color: #a4a4a4;
    padding-top: .5rem;
}

.andes-btn-div {
    -webkit-box-flex: 2;
    margin: 1.5rem 1rem;
    text-align: -webkit-right;
}

.andes-btn {
    background-color: #8bc34a;
    border-radius: .5rem;
    width: 12rem;
    font-size: 1.4rem;
    line-height: 3rem;
    text-align: center;
    color: #fff;
}

.andes-btn:active {
    background-color: gray;
}

.wechat-download-intruct {
    position: fixed;
    z-index: 99; 
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.9;
}

.wechat-download-intruct img {
    width: 8rem;
    position: fixed;
    right: 0;
}

.wechat-download-intruct p {
    font-size: 1.4rem;
    position: fixed;
    top: 8rem;
    color: white;
    right: 2rem;
}

.ios-div {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 99;
    top: 0;
    left: 0;
}

.ios-show-info {
    background-color: #fafafa;
    width: 70%;
    height: 14rem;
    display: block;
    margin: 10rem auto;
    border-radius: 5px;
    color: #9a9a9a;
}

.ios-show-info-title {
    color: white;
    background-color: #8bc34a; 
    display: block;
    font-size: 1.2rem;
    padding-left: 1rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 5px 5px 0px 0px;
}

.ios-show-top-text {
    padding: 2rem;
    font-size: 1.2rem;
}

.ios-show-bottom {
    text-align: right;
    margin-top: 1rem;
}

.ios-show-cancel {
    margin-right: 3rem;
}

.ios-show-thumb {
    margin-right: 3rem;
    color: #8bc34a; 
    font-size: 1.2rem;
}
